<div class="phonebook_container">
  <div class="innerContainer">
    <input [(ngModel)]="searchContacts" placeholder=" search..">
    <button (click)="addcomments(newUser.value)" type="button" name="button" class="btnAddUser">Add a Contact</button><br><br>
  </div>
   <div class="contacts">
     <ul *ngFor = "let comment of comments | filter : searchContacts | slice: (curPage * pageSize) - pageSize :curPage * pageSize">
      <li><span>id:</span> {{comment.id}}</li>
      <li><span>name:</span> {{comment.name}}</li>
      <li><span>email:</span> {{comment.email}}</li>
      <li><span>comments:</span>{{comment.body}}</li>
    </ul>

    <!-- <div class="wrapper">
       <span><h2>Add a Contact</h2></span>
       <span>Name: <input  #newUser (keyup.enter)="addcomments(newUser.value)" (blur)="addUser(newUser.value); newUser.value=''" /></span><br />
       <span>Phone: <input type="text" [(ngModel)]="pCon.newPerson.phone" /></span><br />
       <span>City: <input type="text" [(ngModel)]="pCon.newPerson.city" /></span><br />
       <span><button ng-click="pCon.Save()">Save</button></span>
   </div> -->

    <p class="pagination">
        <button [disabled] ="curPage == 1" (click)="curPage = curPage - 1">PREV</button>
          <span>Page {{curPage}} of {{numberOfPages()}}</span>
        <button [disabled] = "curPage >= comments.length/pageSize" (click) ="curPage = curPage + 1">NEXT</button>
    </p>
    <!-- <button ng-click="" type="button" name="button">Add a Contact</button><br><br> -->

   </div>
</div>
