
.homeContainer{
  h1{
    text-align: center;
    font-size: 16px;
  }
  input{
        border: solid grey 2px;
        padding: 10px;
        width: 40%;
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background: rgb(238, 238, 238);
      width: 40%;
      li {
          font-size: 13px;
          padding: 8px;
          // font-weight: bold;
          border-radius: 4px;
          margin-bottom: 12px;
          grid-template-columns: 60px auto;
      }
      img{
        width: 70px;
        height: 70px;
      }
  }
  .pagination{
    button{
      width: 7%;
      padding: 6px;
      font-size: 14px;
      font-weight: 600;
    }
    span{
      padding: 16px;
      font-size: 14px;
      font-weight: 799;
    }
  }
}

@media (max-width: 767px) {
  .homeContainer{
    input,ul{
      width: 100%;
    }
    // .mobile-hide{
    //   display: none;
    // }
    .pagination{
      button{
        width: 100%;
        height: 34px;
      }
    }
   }
}
